ion-content
{
    text-align: center;
}

ion-content ion-button{
    margin:auto;
    margin-top: 10vh;
    font-size: x-large;
    color:white;
}
.alert-success .confirm-button{
    background-color: lime;
    color:white;
}

.alert-message
{
    font-size: larger;
    font-weight: bolder;
}
.close-button{
    background-color: maroon;
    color:white;
}
p{
    margin-top: 10vh;
}