<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger" shape="round" class="logout-btn">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bonzami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="text-center ion-padding center">
    <ion-button (click)="scan()" expand="block" shape="round" size="large">
      <ion-icon name="barcode" slot="start"></ion-icon>
      Ticket
    </ion-button>

    <ion-button (click)="scan('verifyflotte')" expand="block" shape="round" size="large" color="warning">
      <ion-icon name="car" slot="start"></ion-icon>
      Véhicule
    </ion-button>
</ion-content>
