/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.alert-success .alert-wrapper {
    background:rgb(58, 165, 58);
    .alert-button{
        color: yellow;
    }
}
.alert-danger .alert-wrapper {
    background: #eb445a;
    .alert-button{
        color: yellow;
    }
}
.alert-warning .alert-wrapper {
    background: orange;
    .alert-button{
        color: yellow;
    }
}
.alert-success .alert-wrapper .alert-message, .alert-warning .alert-wrapper .alert-message, .alert-danger .alert-wrapper .alert-message{
    color:rgb(255, 255, 255);
}

.alert-dark .alert-wrapper {
    background: rgba(41, 41, 40, 0.801);
    --color:rgb(179, 175, 175);
}